.container

  = image_tag 'rectangle.png', class: 'login_img'

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :Account
      %br/
      = f.text_field :accountname, class: "form-control"
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      = f.password_field :password, autocomplete: "new-password"
    .actions.loginBtn
      = f.submit "CREATE ACCOUNT"
